In [3]:
import random

In [4]:
type(random)

module

In [5]:
dir(random)

['BPF',
 'LOG4',
 'NV_MAGICCONST',
 'RECIP_BPF',
 'Random',
 'SG_MAGICCONST',
 'SystemRandom',
 'TWOPI',
 '_Sequence',
 '_Set',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_accumulate',
 '_acos',
 '_bisect',
 '_ceil',
 '_cos',
 '_e',
 '_exp',
 '_floor',
 '_inst',
 '_log',
 '_os',
 '_pi',
 '_random',
 '_repeat',
 '_sha512',
 '_sin',
 '_sqrt',
 '_test',
 '_test_generator',
 '_urandom',
 '_warn',
 'betavariate',
 'choice',
 'choices',
 'expovariate',
 'gammavariate',
 'gauss',
 'getrandbits',
 'getstate',
 'lognormvariate',
 'normalvariate',
 'paretovariate',
 'randbytes',
 'randint',
 'random',
 'randrange',
 'sample',
 'seed',
 'setstate',
 'shuffle',
 'triangular',
 'uniform',
 'vonmisesvariate',
 'weibullvariate']

In [6]:
from random import shuffle

In [14]:
lst = [50,70,10,60]
shuffle(lst)

In [15]:
lst

[70, 50, 10, 60]

In [16]:
from random import randint

In [19]:
randint(10,20)

13

In [2]:
import pandas as pd

In [3]:
f = pd.read_csv("Book1.csv")

In [4]:
f

        1;;;;;
0       1;;;;;
1    1;;33;;;1
2    1;;33;;;2
3    1;;33;;;3
4    1;;33;;;4
5    1;;33;;;5
6    1;;33;;;6
7    1;;33;;;7
8    1;;33;;;8
9    1;;33;;;9
10  1;;33;;;10
11  1;;33;;;11
12   ;;33;;;12
13   ;;33;;;13
14   ;;33;;;14
15     ;;33;;;

In [6]:
import os

In [6]:
dir(os)

['DirEntry',
 'F_OK',
 'GenericAlias',
 'Mapping',
 'MutableMapping',
 'O_APPEND',
 'O_BINARY',
 'O_CREAT',
 'O_EXCL',
 'O_NOINHERIT',
 'O_RANDOM',
 'O_RDONLY',
 'O_RDWR',
 'O_SEQUENTIAL',
 'O_SHORT_LIVED',
 'O_TEMPORARY',
 'O_TEXT',
 'O_TRUNC',
 'O_WRONLY',
 'P_DETACH',
 'P_NOWAIT',
 'P_NOWAITO',
 'P_OVERLAY',
 'P_WAIT',
 'PathLike',
 'R_OK',
 'SEEK_CUR',
 'SEEK_END',
 'SEEK_SET',
 'TMP_MAX',
 'W_OK',
 'X_OK',
 '_AddedDllDirectory',
 '_Environ',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_check_methods',
 '_execvpe',
 '_exists',
 '_exit',
 '_fspath',
 '_get_exports_list',
 '_walk',
 '_wrap_close',
 'abc',
 'abort',
 'access',
 'add_dll_directory',
 'altsep',
 'chdir',
 'chmod',
 'close',
 'closerange',
 'cpu_count',
 'curdir',
 'defpath',
 'device_encoding',
 'devnull',
 'dup',
 'dup2',
 'environ',
 'error',
 'execl',
 'execle',
 'execlp',
 'execlpe',
 'execv',
 'execve',
 'execvp',
 'execvpe',
 'extsep',
 'fdopen',
 'fsdecode',
 'fsencode',
 'fspath',
 'fstat',
 'fsync',
 'ftruncate',
 'get_exec_path',
 'get_handle_inheritable',
 'get_inheritable',
 'get_terminal_size',
 'getcwd',
 'getcwdb',
 'getenv',
 'getlogin',
 'getpid',
 'getppid',
 'isatty',
 'kill',
 'linesep',
 'link',
 'listdir',
 'lseek',
 'lstat',
 'makedirs',
 'mkdir',
 'name',
 'open',
 'pardir',
 'path',
 'pathsep',
 'pipe',
 'popen',
 'putenv',
 'read',
 'readlink',
 'remove',
 'removedirs',
 'rename',
 'renames',
 'replace',
 'rmdir',
 'scandir',
 'sep',
 'set_handle_inheritable',
 'set_inheritable',
 'spawnl',
 'spawnle',
 'spawnv',
 'spawnve',
 'st',
 'startfile',
 'stat',
 'stat_result',
 'statvfs_result',
 'strerror',
 'supports_bytes_environ',
 'supports_dir_fd',
 'supports_effective_ids',
 'supports_fd',
 'supports_follow_symlinks',
 'symlink',
 'sys',
 'system',
 'terminal_size',
 'times',
 'times_result',
 'truncate',
 'umask',
 'uname_result',
 'unlink',
 'unsetenv',
 'urandom',
 'utime',
 'waitpid',
 'waitstatus_to_exitcode',
 'walk',
 'write']

In [7]:
os.listdir(".")

['Book1.csv', 'Untitled-1.ipynb']

In [11]:
os.listdir(".")

['Book1.csv', 'test', 'Untitled-1.ipynb']

In [1]:
os.remove(r"F:\Data Science Diploma\Project 3 - Thanos\Project 3 - Thanos\universe\cover003.png")

In [2]:
os.remove(r"F:\Data Science Diploma\Project 3 - Thanos\Project 3 - Thanos\universe\cover004.png")

In [10]:
os.rename("test","vs_folder")

In [11]:
os.makedirs("ayhaga")

In [12]:
from datetime import datetime

In [18]:
my_date = datetime.now()

In [19]:
my_date

datetime.datetime(2022, 12, 20, 23, 16, 39, 637868)

In [20]:
my_date.second

39

In [27]:
my_date.strftime("%Y/%B/%d")

'2022/December/20'

In [38]:
from time import time
start_time = time()
x = 10
for i in range(10000):
    x += 1
finish_time = time()
print(f"code took {finish_time - start_time} seconds")

code took 0.0032117366790771484 seconds

In [39]:
s = time()
print(s)
import time

1671572856.0306756

In [40]:
for i in range(5):
    print(i)
    time.sleep(2)

0
1
2
3
4

In [53]:
import csv
header = ["name","area","country_code2","country_code3"]
row1 = ["egypt",56778,"eg","egp"]
row2 = ["USA",1651315,"US","USA"]
with open("countery.csv","w",encoding="UTF8",newline="") as f :
    k = csv.writer(f)
    k.writerow(header)
    k.writerow(row1)
    k.writerow(row2)

In [54]:
import pandas as pd

In [55]:
f = pd.read_csv("countery.csv")

In [56]:
f

    name     area country_code2 country_code3
0  egypt    56778            eg           egp
1    USA  1651315            US           USA